input.wpcf7-form-control.wpcf7-submit,input.wpcf7-form-control.wpcf7-submit:focus {
	color: $brand-primary;
	background: $light-font;
	border: 2px solid $brand-primary;
	text-transform: uppercase;
	padding: 12px;
	font-size: 1.2rem;
	outline-color: #8eca21;
	&:hover{
		color: $light-font;
		transition: 0.3s ease;
		background:$brand-primary;
	}
}
a.cont-btn,a.read-more{
	color: $brand-primary;

	background: transparent;
	border: 2px solid $brand-primary;
	text-transform: uppercase;
	padding: 0.4rem 1rem;
	font-size: 0.7rem;
	outline-color: #8eca21;
  transition:all 0.5s;
  font-family: $font__header;
  font-weight: bold;
  letter-spacing: 0.1em;
	&:hover{
  	color: $light-font;
  	transition: 0.3s ease;
  	background:$brand-primary;
  }
}
