.carousel{
  .slick-slide{
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .description{
    display: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 200;
    color: #fff;
    font-family: $font__header;
    line-height: 1.2;
    bottom: 0;
    left: 50%;
    right: 5%;
    padding: 0.5rem;
    letter-spacing: 0.3em;
    // background: url(../images/neurony.svg) no-repeat right bottom;
    background-color: rgba($color__brand-secondary,0.6);
    text-align: center;
    position: absolute;
    padding-right: 3rem;
    // padding-top: 5rem;
  }
}
.testimonials{
  padding-bottom: 2rem;
  .slick-list{
    blockquote{
      padding-left: 0;
      figure{
        margin: 0;
        img{
          margin: 0;
          max-height:70px;
          max-width:70px;
          float: left;
          margin-right: 1rem;
        }
        &+.cite{
          padding-left:90px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .testimonials{
    blockquote{
      margin-top:2rem;
    }
  }
}
.slick-arrow{
  background-repeat: no-repeat;
  opacity: 0.8;
  transition: opacity 0.5s;
  position: absolute;
  border: none;
  background: none;
  bottom: 0;
  background-image: url(../images/left.svg);
  background-size: cover;
  height: 29px;
  width: 16px;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
  &.slick-prev{
    transform: rotate(0deg);
  }
  &.slick-next{
    margin-left: 30px;
    transform: rotate(180deg);
  }
}