// Grid system
.main {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($main-sm-columns);
    .sidebar-primary & {
      @include make-col($main-sm-columns - $sidebar-sm-columns);
    }
  }
}
.sidebar {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($sidebar-sm-columns);
  }
}
//top grids
div.therapy{
  display: block;
  width: 100%;
  border: 1px solid #e2e2e2;
  position: relative;
  transition:all 0.5s;
  height: 100%;
  top: 0;
  padding: 2rem;
  a{
    color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  // margin-top: $space/2;
  img{
    height: 3rem;
    margin-bottom: 1rem;
  }
  span{
    font-size: 1.5rem;
    font-family: $body;
    text-transform: uppercase;
    &:after{
      @include aft($brand-primary);
      position:relative;
      top: 0;
      left: 0;
      margin-top: 1.5rem;
      display: block;
    }
  }
  &:hover{
    top: -5px;
    border-color: $brand-primary;
  }
  p{
    font-size: 0.8rem;
    line-height: 1.35;
    margin-top: 3rem;
  }
}
div.features.bottom.row{
  margin-bottom: $space;
}
div.price{
  text-align: center;
  display: block;
  width: 100%;
  border: .2rem solid #e2e2e2;
  position: relative;
  transition: all .5s ease-in-out;
  height: 100%;
  top: 0;
  padding: 3rem 2rem;
  &:hover{
    transform: scale(1.01);
    border-color: $brand-primary;
}
h5{
  font-size: 1.4rem;
  margin: 0;
  line-height: 2.5rem;
  color: $brand-primary;
}
p{
  font-size: 1rem;
}
}
div.features.reception{
  margin-top:$space/2;
  .widget{
    margin-bottom: 0.7rem;
    img{
      max-height: 150px;
    }
  }
  h4{
    margin-bottom:0;
  }
  a{
    font-size: 1rem;
   }
}
#map{
    height: 500px;
}