hgroup.main-title,hgroup.secondary-title,.page-header{
  h4{
    font-size: 0.9rem;
    position: relative;
    &:after{
      @include aft($brand-primary);
    }
    &.no-space:after{
      left: 0;
    }
  }
}

article .entry-title{
  font-size: 1.8rem;
}
.main-title,article .entry-title,.page-header{
  margin-top: $space;
}

.main-title,.page-header{
  margin-bottom: 3rem;
  color: #333;
  h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  h4{
    color: $brand-primary;
  }
}
.secondary-title{
  h4{
    &:after{
      @include aft(#fff);
      left: 7rem;
    }
    &.no-space:after{
    left: 0;
  }
  }
}

.widget h3{
  font-size: 1.2rem;
  margin-bottom: 0.9rem;
}
div.blog.row{
  margin-bottom: $space/4;
}