table{
  margin-bottom: 3rem;
  th,td{
    padding: 0.6rem 0.9rem;
  }
  thead{
    background-color: $color__brand-secondary;
    th{
      text-align: center;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 0.085em;
      color: #fff;
      font-size: 1.6rem;
    }
  }
  tbody{
    td:first-child{
      text-align: right;

    }
  }
}