.widget{
  ul,ol{
    list-style: none;
    padding-left: 2rem;
    border-left: 1px solid $brand-primary;
  }
  a{
    color: inherit;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: color 0.5s;
    &:hover{
      color: $brand-primary;
    }
  }
}