
@media screen and (min-width: 500px) and (max-width: 1140px) {
  html {
    font-size: calc(0.875em + 0.25 * (100vw - 80em) / 40); /* 1 */
    font-size: -webkit-calc(87.5% + 0.25 * (100vw - 8000%) / 40); /* 2 */
    font-size: -ms-calc(0.875em + 0.25 * (100vw - 80em) / 40); /* 3 */
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: calc(0.975em + 0.25 * (100vw - 60em) / 40); /* 1 */
    font-size: -webkit-calc(97.5% + 0.25 * (100vw - 6000%) / 40); /* 2 */
    font-size: -ms-calc(0.975em + 0.25 * (100vw - 60em) / 40); /* 3 */
  }
}
body{
	font-family: 	$body;
	color: 			$dark-font;
	font-size: 1.2rem;
  line-height: 170%;
}
.wrap{
  padding-bottom: 3rem;
 background: url(../images/motyw1.jpg);
 background-position: top right;
 background-repeat: no-repeat;
}
.page-template-template-mainpage .wrap{
  padding-bottom: 0;
}
*{
	letter-spacing: 0.01rem;
}
*::selection {
	background: $brand-primary;
	color: $light-font;
}
a{
  transition: color 0.4s;
}
a:hover{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-family: $headers;
	text-transform: uppercase;
  font-weight: 500;
  a{
    color: inherit;
    &:hover{
      color: $brand-primary;
    }
  }
}

footer{
	color: $light-font;
	font-family: $body;
	h5{
		color: $brand-primary;
		font-size: 1rem;
	}
	a{
		color: $light-font;
		&:hover{
			color: $brand-primary;
		}
	}
}
input, textarea{
	width: 100%;
	border: 1px solid $input-border;
  padding-left: .5rem;
	textarea{
		height: 14rem;
	}
	&:focus{
		outline-color: $brand-primary;
	}
}

label{
	text-transform: uppercase;
	font-family: $body;
	font-size: 0.8rem;
	font-weight: 500;
	width:100%;
}
a{
	color: $brand-primary;
}
p.short{
	font-weight: 600;
}
p.entry-meta{
  color: $brand-primary;
  margin-bottom: 0.6rem;
  .author{
    font-weight: bold;
  }
  > *{
    display: inline-block;
  }
  &:after{
    @include aft($brand-primary);
    display: inline-block;
    left: 2rem;
    top: -0.2rem;
    position: relative;
  }
}

blockquote{
  cite{
    font-weight: 500;
    font-style: normal;
    display: block;
  }
}