@mixin aft($brand-primary){
	content: "";
	display: inline-block;
	background: #8dc63f;
	height: 2px;
	position: relative;
	width: 80px;
	left: 2rem;
	top: -0.234567rem;

	
	// content: '';
	// display: block;
	// background: $brand-primary;
	// height: 2px;
	// position: absolute;
	// width: 80px;
	// left: 9rem;
	// top: .9rem;
}
@mixin button($brand-primary, $light-font, $brand-primary, $brand-primary){
	color: $brand-primary;
	background: $light-font;
	border: 2px solid $brand-primary;
	outline-color: $brand-primary;
	text-transform: uppercase;
	padding: 12px;
	font-size: 1.1rem;
	border-radius: 0;
}