// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #8DC63F;
$color__brand-secondary : #8bc6d7;
$border:				#739532;
$dark-font: 			#58595B;
$light-font:			#fff;

$color__text-body : $dark-font;

$color__headings : #333;
$color__link-menu : #fff;
$color__link-menu-hover : #333;

$coclor__text : #333;
//Font
$body: 					'Roboto';
$headers:         'Roboto';
$font__header: 				'Roboto';

//Footer
$footer-bg:       #58595B;
$footer-bg: 			#fff;
$copy-footer:       #333;
$copy-footer: 			#fff;
$space:					4rem;

//Menu
$menu-font: 			1rem;
$last-child: 			#07060B;

//contact form
$input-border: 			#E2E2E2;
