div.row.therapist{
	margin-top: $space/2;
	margin-bottom: $space;
	ul{
		font-size: .9rem;
		width:100%;
		line-height: 1.6rem;
		list-style: none;
		li{
			position: relative;
			&:before{
				content: "•";
				font-weight: bold;
				position: absolute;
				color: $brand-primary;
				left: -1rem;
			}
		}
	}
	.col-md-9.col-sm-12{
		display: inline-flex;
	}
	img{
		margin-bottom: $space/4;
	}
	h5{
		color: $brand-primary;
		position: relative;
		&:after{
			@include aft($brand-primary);
		}
	}
}