body#tinymce {
	margin: 12px !important;
}
div.address{
	margin-left: 5rem;
	position: relative;
    margin-top: $space/2;
    &:before{
    	content: "";
    	background: url(../images/location.png) no-repeat;
    	position: absolute;
    	width: 50px;
    	left: -5rem;
    	height: 55px;
    	z-index: 0;
    }
}
div.row.response{
	margin-top: $space/2;
	div.wpcf7-response-output.wpcf7-display-none{
		border: 2px solid #8eca21;
		width: 100%;
		display: none;
		letter-spacing: .1rem;
		font-size: .8rem;
		color: #565656;
		text-transform: uppercase;
		padding: 4rem 0rem 4rem 14rem;
		position: relative;
		margin-bottom: $space/2;
		&:before{
			content: "";
			display: block;
			background: #8eca21 url(../images/chat.png) no-repeat center;
			height: 100%;
			width: 10rem;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

}
div.screen-reader-response{
	display:none;
}
h4.form7{
	&:after{
		left: 10rem;
	}

}