footer.content-info{
  // border-top: 1px solid $brand-primary;
  background:$footer-bg url(../images/footer-bg.jpg) no-repeat 0 100%;
  background-size: contain;
  padding-top: $space*1.3;
  letter-spacing: 0.1px;
  color: $color__text-body;
  a{
		// color: $light-font;
		color: $brand-primary;
		&:hover{
			color: $brand-primary;
		}
	}
	a.brand{
		display: block;
		margin-bottom: 2rem;
		max-width: 250px;
	}
	.copy-footer{
  	// background: $copy-footer;
  	text-align: center;
  	bottom:0;
  	padding-top: 0.8rem;
  	padding-bottom: 0.8rem;
  	margin-top: 1rem;
  	a.brand{
  		display: inline;
  	}
  }
}
div.paralax{
	background: linear-gradient(to right, $brand-primary , $color__brand-secondary);
	padding-top: $space/2;
	padding-bottom: $space/2;
	img{
		width:100%;
		clear: both;
	}
	.paralaxa.row{
		color: $light-font;
		h3{
			font-family: $body;
			font-weight: 300;
			font-size: 1.5rem;
		}
		a.btn, a.btn:focus{
			@include button($light-font, none);
			margin-top: 1rem;
			&:hover{
				color: black;
				background: $light-font;
			}

		}
	}

}
