.banner{
  position: relative;
  .branding img{
    max-width: 300px;
  }
  .header-info{
    img{
      max-width:27px;
      max-height: 27px;
    }
  }
}

div.branding{
	padding-top:2em;
	padding-bottom:2em;
	a{
		color: inherit;
		font-weight:600;
		font-size:1.2em
	}
}
div.header-info{
  top: 0.8rem;
  text-align: right;
  span{
    margin-right:.7rem;
    white-space: nowrap;
    &:last-child{
      margin-right: 0;
    }
    img{
      margin-right: .8rem;
      &:last-child{
        margin-left: 1rem;
      }
    }
    a{
      font-size:1rem;
      font-weight: normal;
    }
  }


  @include susy-breakpoint(max-width 990px){
      text-align: left;
      span{
        white-space: nowraps;
        line-height: 3.5rem;
        display: inline-block;
        img:first-child{
          margin-left: 0;
        }
      }
    }
  @include susy-breakpoint(max-width 512px){
    span.desk{
      display: none;
    }
  }
}
