div.main-content.row{
	margin-top: $space;
	margin-bottom: $space/2;
	p{
		text-transform: uppercase;
	}
}
div.features.row{
	h4:after{
		top: .6rem;
	}
}
div.content.container{
	margin-bottom: $space;
	margin-top: $space;
	h4:after{
		left: 8rem;
	}
	span.date{
		color: $brand-primary;
		font-size: 0.9rem;
		position: relative;
		transition-delay: .2s;
		&:after{
			@include aft($brand-primary);
			left: 10rem;
			top: .5rem;
		}
	}
	a.more{
		@include button($brand-primary, $light-font);
		padding: 5px 15px;
		font-size: 0.9rem;
		&:hover{
			color: $light-font;
			transition: 0.3s ease;
			background:$brand-primary;
		}
	}
}
div.opinion.row{
	margin-top: $space;
	.green-block{
		background: $brand-primary;
		color: $light-font;
		height: 12rem;
		padding-left: $space/3;
		width: 100%;
		position: relative;
		a{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: block;
		}
		h3{
			font-family: $body;
			font-weight: 300;
			font-size: 1.5rem;
		}
		h4{
			color: $light-font;
			font-family: $body;
			&:after{
				background: $light-font;
			}
		}
	}
	.green-block, .opinions{
		padding-top: $space/1.5;
	}
}

.hide{
	min-height: 122px;
	overflow: hidden;
}
.expand{
	display: none;
	cursor: pointer;
	color: $brand-primary;
}
.carousel-caption {
	img{
		top: -17rem;
		position: absolute;
	}
	h3{
		position: absolute;
		color: #000;
		left: 31rem;
		bottom: 9rem;
		font-size: 2.1rem;
		text-transform: initial;
		letter-spacing: 0.1rem;
		.w{
			color: $brand-primary;
		}
	}
}