.navbar-toggler{
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 42px;
}
.navbar.navbar-toggleable-md.navbar-light.bg-faded{
		background: $brand-primary;
    position: static;
    > .container{
      position: static;
    }
    padding: 0;
		a.nav-link{
			font-family: $body;
			color: $light-font;
			text-decoration: none;
			font-weight: 500;
			font-size: $menu-font;
			text-transform: uppercase;
			letter-spacing: 0.05em;
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
		}
    li +li{
      margin-left: 20px;
    }

		.dropdown-menu{
			border-radius:0;
			background: #fff;
      padding-top: 0;
      padding-bottom: 0;
			a{
				font-family: $body;
				color: $dark-font;
				text-decoration: none;
				font-size: $menu-font;
				text-transform: uppercase;
        font-size: 0.8rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        &:hover{
          color: $color__link-menu-hover;
        }
				& + a{
					border-top: 0.5px solid rgba(0,0,0,0.15);
				}
        &:active{
          background-color: inherit;
        }
			}
  }
  @include susy-breakpoint(min-width 992px){
    .navbar-collapse{
      position: relative;
      > ul li:last-child{
        position: absolute;
        right: 0;
        a{
          color: $color__link-menu-hover;
        }
      }
    }
  }
}

.footer-nav{
  margin-left: 0;
  padding-left: 0;
  li{
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
  }
}