div.offer.content img, div.offer.content h2, div.offer.content .short{
	max-width: 100%;
	margin-top: $space/2;
}
div.content.container span.date{
font-weight: 500;
}

aside.sidebar{
top: 3rem;
left: 2rem;
}