.hentry{
  padding-bottom: 3rem;
  line-height: 1.7;
  // font-size: 1rem;
  img{
    &.post-featured{
      margin-bottom: 1.5rem;
    }
    &.alignright,&.alignleft{
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &.alignright{
      margin-left: 1.5em;
    }
    &.alignleft{
      margin-right: 1.5rem;
    }
  }
  hr{
    border: none;
    height: 2px;
    width: 6rem;
    margin: 2rem auto;
    background-color: $brand-primary;
  }
}
.blog{
  img.img-fluid{
    margin-bottom: 1rem;
  }
  h5+.entry-meta{
    margin-top: 0.6rem;
  }
}
.testimonials blockquote{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.9rem;
  line-height: 176%;
}
.entry-content{
  &.featured{
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
  }
}